html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	padding-left: 700px;
	padding-right: 700px;
	padding-top: 20px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	font-size: 55px;
}
hr.dash{
	border-top: 2px dotted #bbb;
}
h3{
	font-size: 35px;
}
h4{
	font-size: 20px;
}
.figure
{
	display: block;
	width: 200px;
	height: 300px;
	background-color: lightyellow;
	border: 15px solid lightblue;
	outline: 5px solid black;
	box-shadow: 0px 0px 12px 12px  purple;
}
.circ1{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: blue;

}
.circ2{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
	display: inline-block;
}
.circ3{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: purple;
	display: inline;
}
.circ4{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: green;
	display: inline-block;
}	
h2{
	font-size: 15px;
	display: inline;
}
.yes{
	width: 600px;
	height: 250px;
	border: 1px solid black;

}
h5{
	width: 180px;
	height: 100px;
	margin :10px;
	border: 1px solid black;
	display: inline-block
	
}
h6{
	width: 180px;
	height: 100px;
	margin :10px;
	border: 1px solid black;
}
p{
	width: 180px;
	height: 100px;
	margin :10px;
	border: 1px solid black;
}
